<mat-toolbar color="primary">
  <span>TraRepo とられぽ！</span>
</mat-toolbar>
<!--スプリットデザイン参考はhttps://webdesignday.jp/inspiration/technique/css/3962/-->
<main>
  <div class="main-left">
    <app-routemap></app-routemap>
  </div>
  <div class="main-right">
    <mat-tab-group (selectedTabChange)="onTabChange($event)">
      <mat-tab label="駅">
        <app-edit-station></app-edit-station>
      </mat-tab>
      <mat-tab label="路線">
        <app-edit-route></app-edit-route>
      </mat-tab>
      <mat-tab label="系統">
        <app-edit-sevice></app-edit-sevice>
      </mat-tab>
    </mat-tab-group>
  </div>
</main>
<!--The content below is only a placeholder and can be replaced.-->
<router-outlet></router-outlet>
