main {
  display: flex;
  width: 100%;
  flex: 1;
}
.main-left {
  display: block;
  flex: 1;
}
.main-right {
  display: block;
  width: 512px;
  overflow: hidden;
  height: 100%;
  background-color: #fafafa;
}
.mat-tab-body-content {
  padding: 8px;
}
